body {
	margin:auto;
}

#mainStage {
	height:100vh;
	width:100vw;
	padding:0;
	display:flex;
	flex-direction:column;
	overflow:hidden;
	
}
#contentWindow {
	margin:auto;
	display:flex;
	justify-content:center;
}
#uiDiv{
	margin-top:90vh;
	display:flex;
	flex-direction:row;
}

.uiButton {
	margin-left:auto;
	margin-right:auto;
	display:flex;
}
 .color-dot {
        position: absolute;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        pointer-events: none;
        mix-blend-mode: lighten;
    }